* {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-family: "Raleway", sans-serif;
	user-select: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.faq-body::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.faq-body::-webkit-scrollbar-track-piece:end {
	background: transparent;
}

.bg {
	fill: none;
	stroke: grey;
	stroke-width: 1;
}

#canvas {
	display: none;
}

#ID_SVG {
	position: relative;
	border: 1px solid grey;
	width: 10000px;
	height: 10000px;
}

#workingArea {
	position: absolute;
	width: 100%;
	top: 50px;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.draggable:hover {
	cursor: move;
}

.draggingPoint {
	r: 3px;
	fill: white;
	stroke: gray;
	stroke-width: 1px;
}

#dragCenterLeft,
#dragCenterRight {
	cursor: e-resize;
}

#dragCenterLeft,
#dragCenterRight {
	cursor: ew-resize;
}

#dragTopCenter,
#dragBottomCenter {
	cursor: ns-resize;
}

#dragTopRight,
#dragBottomLeft {
	cursor: nesw-resize;
}

#dragTopLeft,
#dragBottomRight {
	cursor: nwse-resize;
}

#rightClickMenu {
	position: fixed;
	top: 30px;
	left: 0px;
	width: 225px;
	height: auto;
	background: rgba(255, 255, 255, 1);
	border: 0.5px solid rgba(0, 0, 0, 0.3);
	display: none;
	transition: 300ms;
	overflow: hidden;
}

.rightClickOption {
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding: 10px;
	transition: 150ms;
	user-select: none;
}

.rightClickIcon {
	height: 16px;
	margin-right: 10px;
	width: auto;
}

.rightClickOption:hover {
	cursor: pointer;
	padding-left: 15px;
	padding-right: 5px;
}

#sidebar {
	position: absolute;
	right: 0px;
	width: 250px;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	color: #333333;
	background: #fff;
	height: 100vh;
	border-left: 1px solid rgb(150, 150, 150);
	top: 50px;
}

#tabContainer {
	position: relative;
	width: 750px;
	height: 100vh;
	left: 0px;
	transition: 300ms;
	display: flex;
}

.tabs {
	padding: 15px;
	position: relative;
	width: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.link {
	position: relative;
}

.nav {
	width: 33.333333%;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	float: left;
	cursor: pointer;
}

#navWrapper {
	position: relative;
	width: 100%;
	display: inline-block;
	background: rgb(200, 200, 200);
}

#navSelection {
	position: absolute;
	width: 33.333333%;
	height: 100%;
	left: 0%;
	background: #fff;
	transition: 300ms;
}

.inputWrapper {
	position: relative;
	width: 100%;
	height: 30px;
}

.inputText {
	position: relative;
	float: left;
	background: orange;
}

.inputInput {
	position: absolute;
	width: 50px;
	right: 0px;
}

#zoomOption {
	position: absolute;
	bottom: 5px;
	right: 255px;
	background: #fff;
	border: 1px solid grey;
}

#zoomOptionText {
	position: relative;
	float: left;
	font-size: 15px;
	padding: 5px;
}

.zoomOptionButton {
	position: relative;
	float: left;
	padding: 5px;
}

#zoomOptionSliderWrapper {
	position: relative;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 0px;
	transition: 300ms;
	overflow: hidden;
}

#zoomSlider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #a8a8a8;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

#zoomSlider:hover {
	opacity: 1;
}

#zoomSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 5px;
	height: 15px;
	background: rgb(55, 139, 58);
	border-radius: 3px;
	cursor: pointer;
}

#zoomSlider::-moz-range-thumb {
	width: 5px;
	height: 15px;
	background: #4caf50;
	cursor: pointer;
}


#colorSaver {
	position: absolute;
	width:20px;
	height:200px;
	right: 0px;
	top:-60px;
	background:red;
}



















#picker {
    position: relative;
    width: 220px;
    height: 150px;
	float: left;
	border: 1px solid grey;
	box-sizing: border-box;
}


#slider {
	position: relative;
	width: 10px;
	top: 2px;
    height: 218px;
	transform: rotate(90deg) translate(50px, -256px);
	pointer-events: none;
}

#opacitySlider {
	position: relative;
	width: 218px;
	top: -44px;
	height: 10px;
	border: 1px solid grey;
}


#selectedLast {
	position: relative;
	width: 218px;
	border: 1px solid grey;
	height: 44px;
	top:-38px;
	background:#fff;
}

.lastColor {
	position: relative;
	float: left;
	margin:5px;
	width: 33.5px;
	height:  33.5px;
	border: 1px solid grey;
	box-sizing: border-box;
	background: orange
}
#header {
	overflow: hidden;
	background: #666666;
	color: white;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
}

#header a {
	background-color: #666666;
	display: inline-block;
	color: white;
	padding: 16px 25px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	height: 100%;
	border: 0;
	transition-property: transform;
	transition-duration: 150ms;
}

#header .right {
	float: right;
}

#header a.active {
	background-color: #4caf50;
	color: white;
}

#header a:hover {
	transform: translate(0, -5px);
}

#header a.active:hover {
	transform: none;
}
