body {
    padding: 0px;
    margin: 0px
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0, 0.3); 
    border-radius: 10px;
}



svg {
    position: absolute;
    overflow:scroll;
}


#workingArea {
    position: absolute;
    width: calc(100% - 100px);
    height: 100vh;
    overflow:scroll;
}

#sidebar {
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100vh;
    background: rgba(0,0,0, 0.2);
}
