* {
	padding: 0px;
	margin: 0px;
	font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.faq-body::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.faq-body::-webkit-scrollbar-track-piece:end {
	background: transparent;
}

.bg {
	fill: none;
	stroke: grey;
	stroke-width: 1;
}

#canvas {
	display: none;
}

svg {
	position: relative;
	border: 1px solid grey;
	width: 10000px;
	height: 10000px;
}

#workingArea {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}


.draggable:hover {
	cursor: move;
}

.draggingPoint {
	r: 3px;
	fill: white;
	stroke: gray;
	stroke-width: 1px;
}

#dragCenterLeft,
#dragCenterRight {
	cursor: e-resize;
}

#dragCenterLeft,
#dragCenterRight {
	cursor: ew-resize;
}

#dragTopCenter,
#dragBottomCenter {
	cursor: ns-resize;
}

#dragTopRight,
#dragBottomLeft {
	cursor: nesw-resize;
}

#dragTopLeft,
#dragBottomRight {
	cursor: nwse-resize;
}

#rightClickMenu {
	position: fixed;
	top: 30px;
	left: 0px;
	width: 225px;
	height: auto;
	background: rgba(255, 255, 255, 1);
	border: 0.5px solid rgba(0, 0, 0, 0.3);
	display: none;
	transition: 300ms;
	overflow: hidden;
}

.rightClickOption {
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding: 10px;
	transition: 150ms;
	user-select: none;
}

.rightClickIcon {
	height: 16px;
	margin-right: 10px;
	width: auto;
}

.rightClickOption:hover {
	cursor: pointer;
	padding-left: 15px;
	padding-right: 5px;
}






#sidebar {
	position: absolute;
	right: 0px;
	width: 250px;
	height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
	color: #333333;
	background: #fff;
  height: 100vh;
  border-left: 1px solid rgb(150, 150, 150);
}


#tabContainer {
	position: relative;
  width: 750px;
  height: 100vh;
  left: 0px;
  transition: 300ms;
  display: flex;
}

.tabs {
  padding: 5px;
  position: relative;
  width: 240px;
  overflow-y: scroll;
}

.link {
  position: relative;
}

.nav {
  width: 33.333333%;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  float: left;
  cursor: pointer;
}

#navWrapper {
  position: relative;
  width: 100%;
  display: inline-block;
  background:rgb(200,200,200);
}

#navSelection {
  position: absolute;
  width: 33.333333%;
  height: 100%;
  left: 0%;
  background: #fff;
  transition: 300ms;
}


.inputWrapper {
  position: relative;
  width: 100%;
  height: 30px;
}

.inputText {
  position: relative;
  float: left;
  background: orange;
}

.inputInput {
  position: absolute;
  width: 50px;
  right: 0px;
}